/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 21, 2016, 4:32:24 PM
    Author     : jhring
*/

body {
    padding-top: 70px;
    padding-bottom: 30px;
    line-height: 1.6;
    /*color: #999;*/
    /*background-color: #252525;*/
}

.vertical-align {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.copyright {
    /*background: #222;*/
    border-top: none;
    padding: 10px 0 5px;
}

.inline-collapse li {
    display: inline-block !important;
}

.headline {
    border-bottom: 1px dotted #555;
    margin: 10px 0 25px 0;
}

.headline h2 {
    margin: 0 0 -2px 0;
    padding-bottom: 5px;
    display: inline-block;
    border-bottom: 2px solid #72c02c;
}

.link-list li {
    border-top: solid 1px #353535;
}

.link-list li:first-child {
    border-top: none !important;
}

.link-list a {
    /*color: #eee;*/
    font-size: 11px;
    padding: 6px 0;
    display: inline-block;
    text-transform: uppercase;
}

.link-list li i {
    /*color: #bbb;*/
    float: right;
    margin-top: 10px;
}

.margin-bottom-40 {
    clear: both;
    margin-bottom: 40px;
}

/*=========================
  Spinning Icons
  
  Based of of: http://bootsnipp.com/snippets/featured/spinning-social-icons
 ================= */

.social-circle i {
    color: #fff;
}

.social-circle li a {
    display:inline-block;
    position:relative;
    margin:0 auto 0 auto;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
    text-align:center;
    width: 30px;
    height: 30px;
    line-height: 30px;
}
.social-circle li i {
    margin:0;
    line-height:30px;
    text-align: center;
}

ul.social-network {
    list-style: none;
    display: inline;
    margin-left:0 !important;
}

ul.social-network li {
    display: inline;
    margin: 0 5px;
}

a.icoFacebook, a.icoTwitter, a.icoLinkedin, a.icoGitlab {
    background-color: #D3D3D3;
}

@media (min-width: 768px) {
    ul.social-network {
        position: relative;
        top: 10px;
    }
    .social-network a.icoFacebook:hover {
        background-color:#3B5998;
    }
    .social-network a.icoTwitter:hover {
        background-color:#33ccff;
    }
    .social-network a.icoLinkedin:hover {
        background-color:#007bb7;
    }
    .social-network a.icoGitlab:hover {
        background-color:#E14328;
    }
    .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
    .social-network a.icoLinkedin:hover i, .social-network a.icoGitlab:hover i {
        color:#fff;
    }

    a.socialIcon:hover, .socialHoverClass {
        color:#44BCDD;
    }

    .social-circle li a:hover i, .triggeredHover {
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
    }
    .social-circle i {
        color: #fff;
        -webkit-transition: all 0.8s;
        -moz-transition: all 0.8s;
        -o-transition: all 0.8s;
        transition: all 0.8s;
    }
}

@media (max-width: 768px) {
    .social-network a.icoFacebook {
        background-color:#3B5998;
    }
    .social-network a.icoTwitter {
        background-color:#33ccff;
    }
    .social-network a.icoLinkedin {
        background-color:#007bb7;
    }
    .social-network a.icoGitlab {
        background-color:#E14328;
    }

    ul.social-network {
        position: relative;
        bottom:  3px;
    }
}

/*=========================
  Make navbar work without JS
 ================= */
#navbar-toggle-cbox {
    display:none
}
#navbar-toggle-cbox:checked ~ .collapse {
    display: block;
}

.contact_form input, textarea, select {
    background-color: #c8c8c8 !important;
    color: #999;
}

/*=======================
Form
======================*/
fieldset{
    border: 2px solid #00498e;
    clear: both;
    margin-top: 2em;
    padding: 1em; }
label {
    color: #005cb3;
    font-size: 1em;
    font-weight: bold;
}

#contact input, #contact textarea, #contact select{
    box-sizing: border-box;
    border: 2px solid #C2C2C2;
    /*box-shadow: 2px 2px 4px #EBEBEB;*/
    border-radius: 3px;
    /*padding: 1em;*/
    outline: none;
}
#contact input:focus, #contact textarea:focus,  #contact select:focus{
    border: 1px solid #72c02c;
}
#contact textarea{
    height: 6em;
    width: 100%;
}
#contact input[type=submit] {
    background: #005cb3 none repeat scroll 0 0;
    border: medium none;
    border-radius: 3px;
    box-shadow: 1px 1px 4px #dadada;
    color: #fff;
    margin: 1em;
    padding: 0.8em 1.4em;
}
.buttons legend{
    display: none;
}

/* style the errors in the form so they are visible */
.mistake input, .mistake textarea, .mistake select{
    border: solid #800 !important;
}

.mistake label{
    color: #800 !important;
}

#errors ol li{
    /*color: #ff5555;*/
    color: #800;
}